.btn-toolbar button {
  min-width: 6rem;
  margin-right: 0.5rem;
}

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  border: 1px solid red;
}

.form-buttons{
  background-color: rgb(123, 87, 207);
  width: 200px;
  color: white;

  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 80px;

}

.btn-toolbar button {
  min-width: 10rem;
  display: block;
}

.form-buttons:hover{
  background-color: rgb(112, 58, 236);
  transition-duration: .5s;
  
}

.form-label{
  font-weight: 600;
  font-style: normal;
}