<div class="row">
  <div class="col-xs-10">
    <h3 class="header-text">Добавление нового товара</h3>
    <app-shopping-edit></app-shopping-edit><br>
    <h3 class="header-text">Список покупок:</h3>
    <ul class="list-groups">
      <a
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditItem(i)"
        class="list-group-item set" style="cursor: pointer;">
        {{ ingredient.name }}  <span class="info_hevi"> {{ ingredient.amount }} штук/грамм</span>
      </a>
    </ul>
  </div>
</div>
